<!DOCTYPE html>
<html>
  <head>
    <title>Mywebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Montserrat:400,700', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
